<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.knowtolearn.dao.chapter.ICourseDetailsDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cqupt.knowtolearn.model.po.chapter.CourseDetails">
        <id column="id" property="id" />
        <result column="chapter_name" property="chapterName" />
        <result column="course_id" property="courseId" />
        <result column="parent_id" property="parentId" />
        <result column="order_by" property="orderBy" />
        <result column="media" property="media" />
        <result column="status" property="status" />
        <result column="create_date" property="createDate" />
        <result column="change_date" property="changeDate" />
    </resultMap>

    <resultMap id="simpleCourseDetailDTOMap" type="com.cqupt.knowtolearn.model.dto.SimpleCourseDetailDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="pid" />
        <result column="chapter_name" property="name" />
        <result column="media" property="url" />
    </resultMap>

    <resultMap id="courseDetailDTOMap" type="com.cqupt.knowtolearn.model.dto.CourseDetailDTO">
        <id column="id" property="id" />
        <result column="parent_id" property="pid" />
        <result column="chapter_name" property="name" />
        <result column="media" property="videoUrl" />
        <result column="order_by" property="orderBy" />
        <result column="status" property="status" />
    </resultMap>

    <resultMap id="courseDetailVOMap" type="com.cqupt.knowtolearn.model.vo.CourseDetailVO">
        <result column="orgId" property="orgId" />
        <result column="orgName" property="orgName" />
        <result column="courseId" property="courseId" />
        <result column="courseName" property="courseName" />
        <result column="mediaId" property="mediaId" />
        <result column="name" property="name" />
        <result column="url" property="url" />
        <result column="status" property="status" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, chapter_name, course_id, parent_id, order_by, media, status,  create_date, change_date
    </sql>

    <update id="alterState" parameterType="com.cqupt.knowtolearn.model.dto.AlterMediaStateDTO">
        UPDATE course_details
        SET status = #{afterState}
        WHERE id = #{mediaId} AND status = #{beforeState}
    </update>

    <select id="selectTreeNodes" parameterType="java.lang.Integer" resultMap="courseDetailDTOMap">
        select id,chapter_name,parent_id,order_by,media,status from course_details where course_id = #{courseId}
    </select>

    <select id="selectPendingMediaList" resultMap="courseDetailVOMap" >
        select o.id                                  orgId,
               o.name                                orgName,
               cb.id                                 courseId,
               cb.name                               courseName,
               cd.id                                 mediaId,
               cd.chapter_name                       name,
               cd.media                              url,
               cd.status,
               UNIX_TIMESTAMP(cd.create_date) * 1000 createTime
        from course_details cd
                 inner join course_base cb on cd.course_id = cb.id
                 inner join org o on cb.org_id = o.id
        where cd.status = 2
    </select>

    <select id="selectSimpleTreeNodes" parameterType="java.lang.Integer" resultMap="simpleCourseDetailDTOMap">
        select id,chapter_name,parent_id,media from course_details where course_id = #{courseId} and status = 5
    </select>
</mapper>
