<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.knowtolearn.dao.user.IOrgDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cqupt.knowtolearn.model.po.user.Org">
        <id column="id" property="id" />
        <result column="user_id" property="userId" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
        <result column="materials" property="materials" />
        <result column="create_time" property="createTime" />
        <result column="status" property="status" />
    </resultMap>
    
    <resultMap id="OrgVoMap" type="com.cqupt.knowtolearn.model.vo.OrgVO">
        <id column="id" property="id" />
        <result column="orgName" property="orgName" />
        <result column="username" property="username" />
        <result column="nickname" property="nickname" />
        <result column="introduction" property="introduction" />
        <result column="materials" property="materials" />
        <result column="createTime" property="createTime" />
    </resultMap>

    <resultMap id="orgHomeMap" type="com.cqupt.knowtolearn.model.vo.OrgHomeVO">
        <result column="orgId" property="orgId" />
        <result column="userId" property="userId" />
        <result column="avatar" property="avatar" />
        <result column="orgName" property="orgName" />
        <result column="materials" property="materials" />
        <result column="introduction" property="introduction" />
        <collection property="courses" ofType="com.cqupt.knowtolearn.model.dto.OrgCourseDTO">
            <result column="courseId" property="courseId" />
            <result column="courseName" property="courseName" />
            <result column="coverUrl" property="coverUrl" />
            <result column="teachers" property="teachers" />
            <result column="description" property="description" />
            <result column="tags" property="tags" />
            <result column="category" property="category" />
            <result column="publishTime" property="publishTime"/>
        </collection>
    </resultMap>

    <resultMap id="queryOrgMap" type="com.cqupt.knowtolearn.model.vo.QueryOrgVO">
        <result column="id" property="id" />
        <result column="avatar" property="avatar" />
        <result column="name" property="name" />
        <result column="intro" property="intro" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, user_id, name, intro, materials, create_time, status
    </sql>

    <select id="selectPendingOrgList" resultMap="OrgVoMap">
        select o.id, o.name orgName,u.username, u.nickname,o.intro introduction,o.materials, UNIX_TIMESTAMP(o.create_time)*1000 createTime from org o inner join user u on o.user_id = u.id where o.status = 0
    </select>
    
    <select id="selectOrgCourse" parameterType="java.lang.Integer" resultMap="orgHomeMap">
        select u.org_id                               orgId,
               u.id                                   userId,
               u.avatar                               avatar,
               o.name                                 orgName,
               o.intro                                introduction,
               o.materials                            materials,
               cb.id                                  courseId,
               cb.name                                courseName,
               cb.pic                                 coverUrl,
               cb.description                         description,
               cb.category                            category,
               cb.tags                                tags,
               cb.teachers                            teachers,
               UNIX_TIMESTAMP(cb.publish_date) * 1000 publishTime
        from org o
                 left join user u on o.id = u.org_id
                 left join course_base cb on o.id = cb.org_id
        where o.id = #{orgId} order by cb.publish_date desc
    </select>

    <select id="selectOrgList" parameterType="java.lang.String" resultMap="queryOrgMap">
        select o.id,
               o.name,
               u.avatar,
               o.intro
        from org o
                 inner join user u on u.org_id = o.id
        where o.status = 1
        <trim prefix="and" prefixOverrides="AND | OR" suffixOverrides="and">
            <if test="null != key">
                o.name like concat('%',#{key},'%')
            </if>
        </trim>
    </select>

</mapper>
