<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cqupt.knowtolearn.dao.course.ICourseBaseDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.cqupt.knowtolearn.model.po.course.CourseBase">
        <id column="id" property="id" />
        <result column="company_id" property="companyId" />
        <result column="company_name" property="companyName" />
        <result column="name" property="name" />
        <result column="teachers" property="teachers" />
        <result column="tags" property="tags" />
        <result column="mt" property="mt" />
        <result column="st" property="st" />
        <result column="grade" property="grade" />
        <result column="teach_mode" property="teachMode" />
        <result column="description" property="description" />
        <result column="pic" property="pic" />
        <result column="create_date" property="createDate" />
        <result column="change_date" property="changeDate" />
        <result column="create_people" property="createPeople" />
        <result column="change_people" property="changePeople" />
        <result column="status" property="status" />
        <result column="publish_date" property="publishDate"/>
    </resultMap>

    <resultMap id="simpleCourseMap" type="com.cqupt.knowtolearn.model.vo.CourseVO">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="teachers" property="teachers" />
        <result column="pic" property="pic" />
        <result column="publish_date" property="publishDate"/>
        <result column="org" property="org" />
    </resultMap>

    <resultMap id="homeCourseMap" type="com.cqupt.knowtolearn.model.vo.HomeCourseVO">
        <result column="courseId" property="courseId" />
        <result column="courseName" property="courseName" />
        <result column="coverUrl" property="coverUrl" />
        <result column="publishTime" property="publishTime"/>
        <result column="orgId" property="orgId" />
        <result column="orgName" property="orgName" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, company_id, company_name, name, teachers, tags, mt, st, grade, teach_mode, description, pic, create_date, change_date, create_people, change_people, audit_status, status, publish_date
    </sql>

    <select id="randCourse" resultMap="homeCourseMap">
#         SELECT cb.id id,cb.name name,cb.teachers teachers,cb.pic,cb.publish_date publish_date,c.name org FROM course_base cb inner join company c on cb.company_id = c.id ORDER BY RAND() LIMIT 8
        SELECT cb.id courseId, cb.name courseName,cb.pic coverUrl,UNIX_TIMESTAMP(cb.publish_date) * 1000 publishTime,c.name orgName,c.id orgId FROM course_base cb inner join company c on cb.company_id = c.id ORDER BY RAND() LIMIT 8
    </select>

    <update id="alterState" parameterType="com.cqupt.knowtolearn.model.dto.AlterStateDTO">
        UPDATE course_base
        SET status = #{afterState}
        WHERE id = #{courseId} AND status = #{beforeState}
    </update>
</mapper>
